@media screen and (max-width: 992px) {
    #navbarNav ul li a {
        padding: 10px 0;
    }

    .cl-h {
        font-size: 3rem !important;
    }

    .cl-t {
        margin-top: 1rem !important;
    }

    .cl-btn {
        margin-top: 1rem !important;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 100% 100%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:768px) {
    .cl-h {
        font-size: 2.5rem !important;
    }

    .cl-t {
        margin-top: 0.5rem !important;
    }

    .cl-btn {
        margin-top: 0.5rem !important;
        padding: 8px 16px;
    }

    .grid-container {
        display: grid;
        gap: 30px;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width:576px) {
    .carousel-item img {
        height: 25vh;
    }


    .cl-h {
        font-size: 24px !important;
        font-weight: bold;
        margin: 0 !important;
        padding: 0 !important;
    }

    .cl-t {
        font-size: 16px !important;
        margin: 0 !important;
        padding: 0 !important;
        display: none;
    }

    .cl-btn {
        border-color: white;
        font-size: 16px;
        padding: 3px 12px;
        margin: 0px !important;
        margin-top: 40px !important;
    }

    .carousel-caption {
        transform: translateY(-45%);
        bottom: initial;
        top: 45%;

    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 100% 100%;
        margin-bottom: 50px;
    }

    .grid-container {
        display: grid;
        gap: 10px;
        grid-template-columns: auto;
    }

    .cu {
        padding-bottom: 15px
    }

    .send {
        width: 100%;
    }
}