html {
    font-family: 'Open Sans', sans-serif;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: 0 !important;
    margin: 0 auto;
}

/* Navbar */

/* .container {
    margin: 0 8.437rem !important;
    text-align: center;
} */

.navbar {
    padding: 0 !important;
    margin: 0 !important;
}

#navbarNav ul li a:hover {
    background-color: #f8f9fb;
    border-bottom: 3px solid #49cbcd;
    color: #49cbcd;
}

#navbarNav ul li a {
    padding: 38px 25px;
    border-bottom: 3px solid white;
}

#navbarNav ul li .active {
    border-bottom: 3px solid #49cbcd;
    color: #49cbcd;
    background: #f8f9fb;
}

/* carousel */

.carousel-control-next-icon {
    background-image: url(./banners/gatterthen.png) !important;
}

.carousel-control-prev-icon {
    background-image: url(./banners/lessthen.png);
}

.carousel-caption {
    transform: translateY(-50%);
    bottom: initial;
    top: 50%;

}

.cl-h {
    font-size: 4rem;
}

.cl-t {
    font-size: 1.437rem;
    margin-top: 2.5rem;
}

.cl-btn {
    border-color: white !important;
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 50px;
}

/* portfolio */

.grid-container {
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto;
}

.grid-item {
    text-align: center;
}

/* pricing */

tbody tr td,
th {
    padding: 20px !important;
}

td button {
    padding: 12px 50px;
    background-color: #788492;
    border: none;
}

/* client say */

.slideshow-container {
    position: relative;
}

/* Slides */
.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.author {
    color: rgb(153, 153, 153);
}

/* contact us */

.contact {
    background-image: url(./banners/c-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cu {
    padding-bottom: 100px
}

.c-p {
    margin: 0 !important;
    padding: 0 !important;
    color: #a090bc !important;
}

.button {
    background-color: #49cbcd;
    color: white;
    padding: 14px 55px;
    border: none;
}